.aspect-ratio-1x1 {
  aspect-ratio: 1/1;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.mt-1 {
  margin-top: .3rem !important;
}

.mt-5 {
  margin-top: 3.6rem !important;
}

.me-2 {
  margin-right: .6rem !important;
}

.me-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: .3rem !important;
}

.mb-2 {
  margin-bottom: .6rem !important;
}

.mb-3 {
  margin-bottom: 1.2rem !important;
}

.mb-4 {
  margin-bottom: 1.8rem !important;
}

.mb-5 {
  margin-bottom: 3.6rem !important;
}

.p-4 {
  padding: 1.8rem !important;
}

.py-3 {
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
}

.py-5 {
  padding-top: 3.6rem !important;
  padding-bottom: 3.6rem !important;
}

.pt-4 {
  padding-top: 1.8rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}

@media (min-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0rem !important;
  }
}

@media (min-width: 768px) {
  .p-md-5 {
    padding: 3.6rem !important;
  }
}

@media (min-width: 992px) {
  .mb-lg-0 {
    margin-bottom: 0rem !important;
  }
}

@media (min-width: 992px) {
  .mb-lg-2 {
    margin-bottom: 0.6rem !important;
  }
}

@media (min-width: 992px) {
  .mb-lg-5 {
    margin-bottom: 3.6rem !important;
  }
}

@media (min-width: 1200px) {
  .pt-xl-5 {
    padding-top: 3.6rem !important;
  }
}

.swiper-vertical {
  max-height: 100vh;
}

.swiper-nav-standalone .swiper-button-prev, .swiper-nav-standalone .swiper-button-next {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: auto;
  height: auto;
  margin: 0;
}

.swiper-nav-standalone .swiper-button-prev:after, .swiper-nav-standalone .swiper-button-next:after {
  content: "";
}

.swiper-nav-custom .swiper-button-prev:after, .swiper-nav-custom .swiper-button-next:after {
  content: "";
}

